body {
    background-color: #8EC5FC;
    font-family: 'Kiwi Maru', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}